@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.console {
  background-color: #0C0C0C;
  border-color: #333333;
  color: #ffffff;
  width: 100%;
  height: 80%;
  overflow: hidden;
  box-shadow: 0 0 5px 2px #000000;
}

.console-inner {
  margin-top: 10px;
  margin-left: 15px;
  color: #ffffff;
  background-color: #0C0C0C;
  overflow: scroll;
  height: 70vh;
  width: 98.5%;
}

.console-text {
  height: 20px;
  color: #ffffff;
  background-color: #0C0C0C;
  resize: none;
}

.powershell {
   flex-direction: row;
   flex-wrap: wrap;
}

.powershell-inner {
  background-color: #0C0C0C;
  margin-top: 10px;
  width: 240px;
}

.powershell-icon {
  height: 18px;
}

.console-title {
   background-color: #333333;
   height: 40px;
}

.footer {
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: rgb(255, 255, 255);
}

.string {
  color: rgb(194, 97, 134);
}
.number {
  color: rgb(194, 97, 134);
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: rgb(255, 255, 255);
}

body {
  background-color: #6F6F6F;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
